# Practical Exam: House sales

RealAgents is a real estate company that focuses on selling houses.

RealAgents sells a variety of types of house in one metropolitan area.

Some houses sell slowly and sometimes require lowering the price in order to find a buyer.

In order to stay competitive, RealAgents would like to optimize the listing prices of the houses it is trying to sell.

They want to do this by predicting the sale price of a house given its characteristics.

If they can predict the sale price in advance, they can decrease the time to sale.


## Data

The dataset contains records of previous houses sold in the area.

| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| house_id    | Nominal. </br> Unique identifier for houses. </br>Missing values not possible. |
| city        | Nominal. </br>The city in which the house is located. One of 'Silvertown', 'Riverford', 'Teasdale' and 'Poppleton'. </br>Replace missing values with "Unknown". |
| sale_price  | Discrete. </br>The sale price of the house in whole dollars. Values can be any positive number greater than or equal to zero.</br>Remove missing entries. |
| sale_date   | Discrete. </br>The date of the last sale of the house. </br>Replace missing values with 2023-01-01. |
| months_listed  | Continuous. </br>The number of months the house was listed on the market prior to its last sale, rounded to one decimal place. </br>Replace missing values with mean number of months listed, to one decimal place. |
| bedrooms    | Discrete. </br>The number of bedrooms in the house. Any positive values greater than or equal to zero. </br>Replace missing values with the mean number of bedrooms, rounded to the nearest integer. |
| house_type   | Ordinal. </br>One of "Terraced" (two shared walls), "Semi-detached" (one shared wall), or "Detached" (no shared walls). </br>Replace missing values with the most common house type. |
| area      | Continuous. </br>The area of the house in square meters, rounded to one decimal place. </br>Replace missing values with the mean, to one decimal place. |

# Task 1

The team at RealAgents knows that the city that a property is located in makes a difference to the sale price. 

Unfortuntately they believe that this isn't always recorded in the data. 

Calculate the number of missing values of the `city`. 

 - You should use the data in the file "house_sales.csv". 

 - Your output should be an object `missing_city`, that contains the number of missing values in this column.

In [404]:
import pandas as pd
import numpy as np

In [405]:
house = pd.read_csv("house_sales.csv")
house.head()

   house_id        city  sale_price  ... bedrooms     house_type         area
0   1217792  Silvertown       55943  ...        2  Semi-detached  107.8 sq.m.
1   1900913  Silvertown      384677  ...        5       Detached  498.8 sq.m.
2   1174927   Riverford      281707  ...        6       Detached  542.5 sq.m.
3   1773666  Silvertown      373251  ...        6           Det.  528.4 sq.m.
4   1258487  Silvertown      328885  ...        5       Detached  477.1 sq.m.

[5 rows x 8 columns]

In [406]:
house.shape

(1500, 8)

In [407]:
house.dtypes

house_id           int64
city              object
sale_price         int64
sale_date         object
months_listed    float64
bedrooms           int64
house_type        object
area              object
dtype: object

In [408]:
house.describe()

           house_id     sale_price  months_listed     bedrooms
count  1.500000e+03    1500.000000    1469.000000  1500.000000
mean   1.501071e+06  228121.500000       5.901498     4.018000
std    2.835584e+05  117908.147306       1.954070     1.413391
min    1.000296e+06   26348.000000       0.500000     2.000000
25%    1.258978e+06  127470.750000       4.500000     3.000000
50%    1.509208e+06  230058.500000       5.900000     4.000000
75%    1.734578e+06  316793.500000       7.200000     5.000000
max    1.999721e+06  509536.000000      12.300000     6.000000

In [409]:
house.city.isnull().count()

1500

In [410]:
house.city.value_counts()

Silvertown    517
Teasdale      366
Poppleton     362
Riverford     182
--             73
Name: city, dtype: int64

"--" are missing values

In [478]:
missing_city_df = house[house.city=="--"]
missing_city_df.head()

     house_id city  sale_price  ... bedrooms     house_type         area
81    1487654   --       72586  ...        2  Semi-detached  147.4 sq.m.
89    1690740   --      338647  ...        5       Detached  459.5 sq.m.
131   1409662   --      357657  ...        6       Detached  591.5 sq.m.
148   1091914   --       94535  ...        2  Semi-detached  187.3 sq.m.
163   1214267   --      140986  ...        3  Semi-detached  226.1 sq.m.

[5 rows x 8 columns]

In [479]:
missing_city = missing_city_df.city.count() # 73 missing cities
missing_city

73

# Task 2 

Before you fit any models, you will need to make sure the data is clean. 

The table below shows what the data should look like. 

Create a cleaned version of the dataframe. 

 - You should start with the data in the file "house_sales.csv". 

 - Your output should be a dataframe named `clean_data`. 

 - All column names and values should match the table below.


| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| house_id    | Nominal. </br> Unique identifier for houses. </br>Missing values not possible. |
| city        | Nominal. </br>The city in which the house is located. One of 'Silvertown', 'Riverford', 'Teasdale' and 'Poppleton' </br>Replace missing values with "Unknown". |
| sale_price  | Discrete. </br>The sale price of the house in whole dollars. Values can be any positive number greater than or equal to zero.</br>Remove missing entries. |
| sale_date   | Discrete. </br>The date of the last sale of the house. </br>Replace missing values with 2023-01-01. |
| months_listed  | Continuous. </br>The number of months the house was listed on the market prior to its last sale, rounded to one decimal place. </br>Replace missing values with mean number of months listed, to one decimal place. |
| bedrooms    | Discrete. </br>The number of bedrooms in the house. Any positive values greater than or equal to zero. </br>Replace missing values with the mean number of bedrooms, rounded to the nearest integer. |
| house_type   | Ordinal. </br>One of "Terraced", "Semi-detached", or "Detached". </br>Replace missing values with the most common house type. |
| area      | Continuous. </br>The area of the house in square meters, rounded to one decimal place. </br>Replace missing values with the mean, to one decimal place. |

In [520]:
house.head(500)

     house_id        city  sale_price  ... bedrooms     house_type         area
0     1217792  Silvertown       55943  ...        2  Semi-detached  107.8 sq.m.
1     1900913  Silvertown      384677  ...        5       Detached  498.8 sq.m.
2     1174927   Riverford      281707  ...        6       Detached  542.5 sq.m.
3     1773666  Silvertown      373251  ...        6           Det.  528.4 sq.m.
4     1258487  Silvertown      328885  ...        5       Detached  477.1 sq.m.
..        ...         ...         ...  ...      ...            ...          ...
495   1163990          --      299339  ...        5       Detached  497.2 sq.m.
496   1845359   Poppleton      330358  ...        6       Detached  534.8 sq.m.
497   1600913    Teasdale      277275  ...        4       Detached  347.1 sq.m.
498   1549413   Riverford       88497  ...        3  Semi-detached  228.5 sq.m.
499   1103870   Poppleton      282182  ...        5       Detached  490.6 sq.m.

[500 rows x 8 columns]

In [481]:
house.isnull().sum()

house_id          0
city              0
sale_price        0
sale_date         0
months_listed    31
bedrooms          0
house_type        0
area              0
dtype: int64

In [482]:
house.isna().sum()

house_id          0
city              0
sale_price        0
sale_date         0
months_listed    31
bedrooms          0
house_type        0
area              0
dtype: int64

Only months_listed is missing

In [485]:
# Check for negative numbers
numeric_columns = house.select_dtypes(include=['number'])

any_negative = (numeric_columns<0).any().any()
any_negative # No negatives

False

In [486]:
house.dtypes

house_id           int64
city              object
sale_price         int64
sale_date         object
months_listed    float64
bedrooms           int64
house_type        object
area              object
dtype: object

Start Cleaning!

In [413]:
# House table already imported
# Step 1: Remove missing values in house_id

In [414]:
house.house_id.value_counts(dropna=False) # Ensures missing values are shown first, there are none
# Column is already integer so there are no i.e. "--" values that could be missing values

1217792    1
1029841    1
1169460    1
1656047    1
1437921    1
          ..
1600913    1
1845359    1
1163990    1
1360173    1
1679272    1
Name: house_id, Length: 1500, dtype: int64

In [415]:
# Step 2: Replace missing values in city, with "Unknown"

In [416]:
house_copy = house.copy()

In [417]:
house_copy.city = house_copy.city.replace({"--":"Unknown"})
house_copy.city.value_counts() # Perfect

Silvertown    517
Teasdale      366
Poppleton     362
Riverford     182
Unknown        73
Name: city, dtype: int64

In [418]:
# Step 3: Remove missing entries in sale_price
house_copy.sale_price.value_counts()

419696    2
55943     1
99687     1
346097    1
86553     1
         ..
282182    1
88497     1
277275    1
330358    1
162099    1
Name: sale_price, Length: 1499, dtype: int64

In [519]:
house_copy.sale_price.isna().value_counts()

False    1500
Name: sale_price, dtype: int64

In [419]:
house_copy[house_copy.sale_price==0] # Other methods were tried as well, there appears to be no missing values

Empty DataFrame
Columns: [house_id, city, sale_price, sale_date, months_listed, bedrooms, house_type, area]
Index: []

In [420]:
# Step 4: Replace missing values in sale_date with 2023-01-01
house_copy.sale_date.value_counts()

2022-08-02    7
2020-03-01    6
2020-11-29    6
2020-07-22    6
2020-01-09    6
             ..
2021-05-04    1
2020-10-01    1
2020-12-14    1
2022-11-26    1
2020-10-10    1
Name: sale_date, Length: 817, dtype: int64

In [421]:
house_copy.sale_date.value_counts().sum() # All okay

1500

In [422]:
house_copy.head()

   house_id        city  sale_price  ... bedrooms     house_type         area
0   1217792  Silvertown       55943  ...        2  Semi-detached  107.8 sq.m.
1   1900913  Silvertown      384677  ...        5       Detached  498.8 sq.m.
2   1174927   Riverford      281707  ...        6       Detached  542.5 sq.m.
3   1773666  Silvertown      373251  ...        6           Det.  528.4 sq.m.
4   1258487  Silvertown      328885  ...        5       Detached  477.1 sq.m.

[5 rows x 8 columns]

In [423]:
# Step 5: Replace missing values in months_listed with mean number of months listed, to one decimal place.
# There are 1469/1500 values

In [424]:
house_copy.months_listed.isna().value_counts()

False    1469
True       31
Name: months_listed, dtype: int64

In [524]:
round(house_copy.months_listed.mean(), 1)

5.9

In [426]:
# Use fillna method
house_copy.months_listed = house_copy.months_listed.fillna(
    round(house_copy.months_listed.mean(), 1)
)

In [427]:
house_copy.months_listed.isna().value_counts() # Perfect

False    1500
Name: months_listed, dtype: int64

In [428]:
# Step 6: Replace missing values in bedrooms with the mean number of bedrooms, rounded to the nearest integer

In [429]:
house_copy.bedrooms.isna().value_counts()

False    1500
Name: bedrooms, dtype: int64

In [430]:
house_copy.bedrooms.value_counts() # Fine

3    314
6    306
5    305
2    288
4    287
Name: bedrooms, dtype: int64

In [431]:
# Step 7: Replace missing values in house_type with the most common house type

In [432]:
house_copy.house_type.isna().value_counts()

False    1500
Name: house_type, dtype: int64

In [433]:
house_copy.house_type.value_counts() # Need to clean this

Detached         1046
Semi-detached     231
Terraced          123
Det.               78
Semi               14
Terr.               8
Name: house_type, dtype: int64

In [434]:
house_copy.house_type = house_copy.house_type.replace({"Det.":"Detached", "Semi":"Semi-detached", "Terr.":"Terraced"})
house_copy.house_type.value_counts() # Perfect

Detached         1124
Semi-detached     245
Terraced          131
Name: house_type, dtype: int64

In [435]:
# Step 8: Replace missing values in area with the mean, to one decimal place

In [507]:
# First lets remove "sq.m."
house_copy.area = house_copy.area.str.replace('sq.m.','')

In [508]:
house_copy.head()

   house_id        city  sale_price  ... bedrooms     house_type    area
0   1217792  Silvertown       55943  ...        2  Semi-detached  107.8
1   1900913  Silvertown      384677  ...        5       Detached  498.8
2   1174927   Riverford      281707  ...        6       Detached  542.5
3   1773666  Silvertown      373251  ...        6       Detached  528.4
4   1258487  Silvertown      328885  ...        5       Detached  477.1

[5 rows x 8 columns]

In [527]:
# Convert to numeric
house_copy.area = pd.to_numeric(house_copy.area, errors='coerce')

# Check for negative numbers
numeric_columns = house_copy.select_dtypes(include=['number'])

any_negative = (numeric_columns<0).any().any()
any_negative # No negatives

False

In [521]:
house_copy.isna().value_counts()

house_id  city   sale_price  sale_date  months_listed  bedrooms  house_type  area
False     False  False       False      False          False     False       False    1500
dtype: int64

In [523]:
house_copy.isnull().value_counts()

house_id  city   sale_price  sale_date  months_listed  bedrooms  house_type  area
False     False  False       False      False          False     False       False    1500
dtype: int64

In [514]:
house_copy.area.value_counts()

124.3    4
307.3    3
336.5    3
424.8    3
371.4    3
        ..
535.5    1
485.1    1
294.9    1
109.6    1
268.7    1
Name: area, Length: 1282, dtype: int64

In [515]:
house_copy.dtypes

house_id           int64
city              object
sale_price         int64
sale_date         object
months_listed    float64
bedrooms           int64
house_type        object
area             float64
dtype: object

In [516]:
house_copy.area.describe()

count    1500.000000
mean      352.123933
std       146.083507
min       100.300000
25%       228.400000
50%       350.700000
75%       478.025000
max       600.000000
Name: area, dtype: float64

In [439]:
clean_data = house_copy.copy()

# Task 3 

The team at RealAgents have told you that they have always believed that the number of bedrooms is the biggest driver of house price. 

Producing a table showing the difference in the average sale price by number of bedrooms along with the variance to investigate this question for the team.

 - You should start with the data in the file 'house_sales.csv'.

 - Your output should be a data frame named `price_by_rooms`. 

 - It should include the three columns `bedrooms`, `avg_price`, `var_price`. 

 - Your answers should be rounded to 1 decimal place.

In [440]:
# Using Full Data Set as asked in the question:

In [441]:
# Table to show bedrooms vs average sale price of a house and variance of sale price
price_by_rooms = house.groupby("bedrooms")['sale_price'].agg(['mean','var']).round(1).reset_index()
price_by_rooms.columns = ['bedrooms', 'avg_price', 'var_price']
print(price_by_rooms)

   bedrooms  avg_price     var_price
0         2    67076.4  5.652896e+08
1         3   154665.1  2.378289e+09
2         4   234704.6  1.725211e+09
3         5   301515.9  2.484328e+09
4         6   375741.3  3.924432e+09

In [442]:
# Using Cleaned Data (questions should have specified):

In [443]:
price_by_rooms = clean_data.groupby("bedrooms")['sale_price'].agg(['mean','var']).round(1).reset_index()
price_by_rooms.columns = ['bedrooms', 'avg_price', 'var_price']
print(price_by_rooms)

   bedrooms  avg_price     var_price
0         2    67076.4  5.652896e+08
1         3   154665.1  2.378289e+09
2         4   234704.6  1.725211e+09
3         5   301515.9  2.484328e+09
4         6   375741.3  3.924432e+09

Difference was marginal so it didn't matter for this question

# Task 4

Fit a baseline model to predict the sale price of a house.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “validation.csv” to predict new values based on your model. You must return a dataframe named `base_result`, that includes `house_id` and `price`. The price column must be your predicted values.

In [444]:
train = pd.read_csv("train.csv")
train.head()

   house_id        city  sale_price  ... bedrooms  house_type   area
0   1634561    Teasdale      401869  ...        6    Detached  519.7
1   1009770  Silvertown      372387  ...        6    Detached  507.8
2   1946667  Silvertown      325473  ...        5    Detached  466.8
3   1798290  Silvertown      349469  ...        5    Detached  499.4
4   1533461   Poppleton      199995  ...        4    Detached  335.0

[5 rows x 8 columns]

In [445]:
train.size

9600

In [446]:
validate = pd.read_csv("validation.csv")
validate.head()

   house_id        city   sale_date  ...  bedrooms     house_type   area
0   1331375    Teasdale  2022-05-17  ...         3       Terraced  209.7
1   1630115    Teasdale  2020-06-30  ...         4       Detached  390.6
2   1645745  Silvertown  2020-09-02  ...         6       Detached  556.8
3   1336775  Silvertown  2021-10-03  ...         3  Semi-detached  208.3
4   1888274  Silvertown  2022-06-13  ...         4       Detached  389.2

[5 rows x 7 columns]

In [447]:
validate.size

2100

In [448]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [449]:
train = pd.read_csv("train.csv")

# Drop columns not needed
train = train.drop(['sale_date'], axis=1) # Keep House ID column

# Handle categorical columns
label_encoder_house = LabelEncoder()
label_encoder_city = LabelEncoder()
train['house_type'] = label_encoder_house.fit_transform(train['house_type'])
train['city'] = label_encoder_city.fit_transform(train['city'])

In [450]:
train.head()

   house_id  city  sale_price  months_listed  bedrooms  house_type   area
0   1634561     3      401869            7.0         6           0  519.7
1   1009770     2      372387            8.1         6           0  507.8
2   1946667     2      325473            5.4         5           0  466.8
3   1798290     2      349469            6.4         5           0  499.4
4   1533461     0      199995            4.3         4           0  335.0

In [451]:
# Define featurews (X) and target variable (y)
X = train.drop('sale_price', axis=1)
y = train.sale_price

# Test and train
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=40)

In [452]:
# Create a pipeline to preprocess data and train the model
preprocessor = ColumnTransformer(
                    transformers=[
                        ('num', 'passthrough',
                        X.columns) # Use passthrough for numeric features
                    ])

model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', RandomForestRegressor(random_state=40))
])

In [453]:
model.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', 'passthrough',
                                                  Index(['house_id', 'city', 'months_listed', 'bedrooms', 'house_type', 'area'], dtype='object'))])),
                ('regressor', RandomForestRegressor(random_state=40))])

In [454]:
predictions = model.predict(X_test)

In [455]:
mse = mean_squared_error(y_test, predictions)
rmse = np.sqrt(mse).round(1)
print(f'RMSE: {rmse}')

RMSE: 16254.0

This is perfect - below 30,000. Now can use this on predictions!

In [456]:
X.head()

   house_id  city  months_listed  bedrooms  house_type   area
0   1634561     3            7.0         6           0  519.7
1   1009770     2            8.1         6           0  507.8
2   1946667     2            5.4         5           0  466.8
3   1798290     2            6.4         5           0  499.4
4   1533461     0            4.3         4           0  335.0

In [457]:
# Need to drop sale_date, and convert other columns into appropriate categorical labels!

In [458]:
validate2 = validate.copy()

In [459]:
validate2 = validate2.drop(['sale_date'], axis=1)

In [460]:
validate2.head()

   house_id        city  months_listed  bedrooms     house_type   area
0   1331375    Teasdale            7.7         3       Terraced  209.7
1   1630115    Teasdale            6.5         4       Detached  390.6
2   1645745  Silvertown            7.4         6       Detached  556.8
3   1336775  Silvertown            8.8         3  Semi-detached  208.3
4   1888274  Silvertown            5.7         4       Detached  389.2

In [461]:
validate2['city'] = label_encoder_city.transform(validate2['city']) # Using transform instead of fit_transform to keep same labels
validate2['house_type'] = label_encoder_house.transform(validate2['house_type'])

In [462]:
validate2.head()

   house_id  city  months_listed  bedrooms  house_type   area
0   1331375     3            7.7         3           2  209.7
1   1630115     3            6.5         4           0  390.6
2   1645745     2            7.4         6           0  556.8
3   1336775     2            8.8         3           1  208.3
4   1888274     2            5.7         4           0  389.2

In [463]:
base_result = validate2.copy()
base_result['price'] = model.predict(base_result)

In [464]:
base_result.head()

   house_id  city  months_listed  bedrooms  house_type   area      price
0   1331375     3            7.7         3           2  209.7   78815.07
1   1630115     3            6.5         4           0  390.6  300732.85
2   1645745     2            7.4         6           0  556.8  407845.03
3   1336775     2            8.8         3           1  208.3  112212.64
4   1888274     2            5.7         4           0  389.2  266473.50

# Task 5

Fit a comparison model to predict the sale price of a house.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “validation.csv” to predict new values based on your model. You must return a dataframe named `compare_result`, that includes `house_id` and `price`. The price column must be your predicted values.

In [465]:
# Use Linear Regression for Model 2

In [466]:
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [467]:
# Same as before
X = X
y = y

# Test and train
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=40)

In [468]:
comparison_model = LinearRegression()
comparison_model.fit(X_train, y_train)
comparison_predictions = comparison_model.predict(X_test)

In [469]:
comparison_mse = mean_squared_error(y_test, comparison_predictions)
comparison_rmse = np.sqrt(comparison_mse).round(1)
print(f'RMSE LR: {comparison_rmse}')

RMSE LR: 26084.6

In [470]:
compare_result = validate2.copy()
compare_result['price'] = model.predict(compare_result)

In [471]:
compare_result.head()

   house_id  city  months_listed  bedrooms  house_type   area      price
0   1331375     3            7.7         3           2  209.7   78815.07
1   1630115     3            6.5         4           0  390.6  300732.85
2   1645745     2            7.4         6           0  556.8  407845.03
3   1336775     2            8.8         3           1  208.3  112212.64
4   1888274     2            5.7         4           0  389.2  266473.50